.hero-section {
    min-height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: #093f39;
  }

p{
    color: black;
}


.home-overlay {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
  }
  
  /* this style used in the feed screen as well */
  .home-content, .post {
    position: relative;
    background: #efe6d5;
    padding: 50px 50px 40px;
    border-radius: 12px;
    width: min(90%, 650px);
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.18);
    margin: auto;
  }
  
  .pin {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background: #d84a4a;
    border-radius: 50%;
    box-shadow:
      0 2px 4px rgba(0,0,0,0.4),
      inset 0 2px 2px rgba(255,255,255,0.6);
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 16px;
  }
  
  .home-content p {
    font-size: 1.1rem;
    margin-bottom: 28px;
    line-height: 1.6;
  }
  
@media screen and (max-width: 768px) {
    .hero-section {
        align-items: center;
      }
    
    .home-content h1 {
      font-size: 2.2rem;
    }
    
    .home-content p {
      font-size: 1rem;
    }
    
}